.devise-container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .devise-container__upper
      %h2 ログイン
    .devise-container__lower
      .devise-container__lower--inner
        .email.form
          Email
          = f.email_field :email, placeholder: "メールアドレス", class: "block"
        .password.form
          Password
          = f.password_field :password, placeholder: "7文字以上", class: "block"
        .form
          = f.submit "ログイン", class: "button block"
        = link_to "新規登録はこちら", new_user_registration_path, class: "to-other-form"
        
